.popup__closed {
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url('../../../image/edit-form/close-icon.svg');
    background-color: transparent;
    border: none;
    background-position: 50% 50%;
    position: absolute;
    top: -40px;
    right: -40px;
    background-size: cover;
}

.popup__closed:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .popup__closed {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}