.profile__edit-button {
    background-image: url(../../../image/profile/__edit.svg);
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    margin-top: 15px;
}

.profile__edit-button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 650px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
      margin-top: 8px;
    }
  }