.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 355px;
    height: 27px;
    margin: 0 0 30px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__input:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .popup__input {
        width: 238px;
    }
}