.popup__save {
    width: 358px;
    height: 50px;
    margin: 45px auto 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 0;
}

.popup__save:hover {
    opacity: 0.8;
    cursor: pointer;

}

@media screen and (max-width: 530px) {
    .popup__save {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}
