.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    opacity: 1;
    background: transparent url(../../../image/edit-form/close-icon.svg) center no-repeat;
    border: none;
    cursor: pointer;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}