.header {
  width: 8100%;
  max-width: 880px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .header {
    padding-top: 28px;
    width: 100%;
    margin: 0;
  }
}
