.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    padding: 0;
    margin: 0 0 16px;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 189px;
    }
}