.popup__form {
  width: 358px;
  margin: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  .popup__form {
      width: 238px;
      padding-top: 50px;
      height: 275px;
  }
}