.profile__text {
    grid-area: note;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .profile__text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}