.profile__image-button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 121px;
  height: 121px;
  border: none;
  padding: 0;
  background-image: url('../../../image/profile/pen.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.profile__image-button:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: black;
}
