.element__heart {
  min-height: 19px;
  min-width: 22px;
  background: transparent url(../../../image/elements/__like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.element__heart:hover {
  opacity: 0.6;
}

.element__hearts {
  text-align: center;
}
