.popup__container {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    min-height: 330px;
    position: fixed;
    padding: 34px 36px 37px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}