.element__remove {
    background-image: url(../../../image/elements/__delete.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    background-size: contain;
    position: absolute;
    border: none;
    cursor: pointer;
}

.element__remove:hover {
    opacity: 0.6;
}

