.popup__submit-btn {
    width: 358px;
    height: 52px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 36px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__submit-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}


@media screen and (max-width: 600px) {
    .popup__submit-btn {
        width: 100%;
        margin-bottom: 0;
    }
}