.elements__item {
  list-style-type: none;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .elements__item {
      grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .elements__item {
      grid-template-columns: repeat(1, 282px);
  }
}