.elements__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 18px;
    padding: 0;
    width: 882px;
    justify-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto; 
  }
  
  @media (max-width: 790px) {
    .elements__item {
      row-gap: 20px;
      max-width: 282px;
    }
  }