.content {
    max-width: 880px;
    width: calc(100% - 2*200px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1120px) {
    .content {
        width: calc(100% - 2*60px);
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: calc(100% - 2*50px);
    }
}

@media screen and (max-width: 480px) {
    .content {
        width: calc(100% - 2*19px);
    }
}